<mat-toolbar class="header-toolbar">
  <div class="brand">
    <mat-icon>store</mat-icon>
    <span>Sistema de Ventas</span>
  </div>

  <div class="user-container">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
      <img src="assets/images/avatar.png" alt="Avatar" class="user-avatar" />
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </button>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>