<h2 mat-dialog-title style="background-color: rgb(0, 0, 0); color: white">
  {{ client?.dni ? "Editar Cliente" : "Agregar Cliente" }}
</h2>

<content class="form-container">
  <form *ngIf="clientForm" [formGroup]="clientForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstname" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastname" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
  </form>
</content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="clientForm.invalid"
  >
    {{ client?.dni ? "Actualizar" : "Agregar" }}
  </button>
</mat-dialog-actions>
