
<h2 mat-dialog-title style="background-color: rgb(0, 0, 0);">{{ seller?.dni ? 'Editar Vendedor' : 'Agregar Vendedor' }}</h2>

<content class="form-container" style="background-color: rgb(82, 80, 80);">
  <form *ngIf="sellerForm" [formGroup]="sellerForm" style="background-color: rgba(0, 0, 0, 0); border-radius: 10px;">
    <mat-form-field appearance="outline" class="full-width" style="border-radius: 10px;">
      <label>DNI</label>
      <input matInput  formControlName="dni">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <label>Nombre</label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <label>Apellido</label>
      <input matInput formControlName="lastname">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <label>Correo Electrónico</label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <label>Teléfono</label>
      <input matInput type="tel" formControlName="phone">
    </mat-form-field>
  </form>
</content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="sellerForm.invalid">
    {{ seller?.dni ? 'Actualizar' : 'Agregar' }}
  </button>
</mat-dialog-actions>
