<p>confirmation-modal works!</p>
<div mat-dialog-content style="background-color: black; color: #fff; margin: 10px;">
    <h2 mat-dialog-title>Confirmación</h2>
    <p>{{ data.message }}</p> <!-- Mostrar el mensaje pasado en el data -->
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()" style=" background-color: #fff; margin: 10px; margin: 10px; border-radius: 4px; padding: 2px;">Cancelar</button>
    <button mat-button color="primary" (click)="onConfirm()" style="background-color:  #fff; margin: 10px; margin: 10px; margin: 10px; border-radius: 4px; padding: 2px;">Confirmar</button>
  </div>
  